HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

mybatis-generator-database/src/main/resources/jdbc.properties
news-common/src/main/resources/aliyun.properties
news-user/src/main/resources/application-dev-jdbc.yml
news-user/src/main/resources/application-prod1.yml

news-user.*