HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.DS_Store
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

mybatis-generator-database/src/main/resources/jdbc.properties

news-common/src/main/resources/aliyun.properties

news-user/src/main/resources/application-dev.yml
news-user/src/main/resources/application-prod.yml

news-service-files/src/main/resources/application-dev.yml
news-service-files/src/main/resources/application-prod.yml
news-service-files/src/main/resources/file-dev.properties
news-service-files/src/main/resources/file-prod.properties

news-service-admin/src/main/resources/application-dev.yml
news-service-admin/src/main/resources/application-prod.yml

news-service-article/src/main/resources/application-dev.yml
news-service-article/src/main/resources/application-prod.yml


springcloud-eureka-cluster/src/main/resources/application-server1.yml
springcloud-eureka-cluster/src/main/resources/application-server2.yml
springcloud-eureka-cluster/src/main/resources/application-server3.yml

springcloud-zuul-server/src/main/resources/application-dev.yml
springcloud-zuul-server/src/main/resources/application-prod.yml
springcloud-zuul-server/src/main/resources/pending-bootstrap.yml

springcloud-config/src/main/resources/application-dev.yml

log/